  upstream {{  item.proxy_name  }} { 
    {% for app_item in item.backend_app_pool %}
      server {{  app_item.app_ip  }}:{{  app_item.app_port | default('80')  }} {{  app_item.extra_args | default('')  }};
    {% endfor %}
  }

  server {
    listen {{  item.public_ip  }}:{{  item.public_port | default('80')  }} default_server;
    server_name  *.{{  item.proxy_name  }} www.*.{{  item.proxy_name  }};


    location / {
      proxy_pass_header Authorization;
      proxy_pass http://{{  item.proxy_name  }};
      proxy_next_upstream error timeout invalid_header http_502;
      proxy_connect_timeout 2s;
      proxy_next_upstream_timeout 0;
      proxy_next_upstream_tries 0;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_http_version 1.1;
      proxy_set_header Connection "";
      proxy_buffering off;
      client_max_body_size 0;
      proxy_redirect off;
    }
  }
