  upstream {{  balancer.name  }} { 
    {% for proxy_item in balancer.proxy_list %}
      server {{  proxy_item.public_ip  }}:{{  proxy_item.public_port | default('80')  }} {{  proxy_item.extra_args | default('')  }};
    {% endfor %}
  }

  server {
    listen {{  balancer.public_ip | default('0.0.0.0')}}:{{  balancer.public_port | default('80')  }} default_server;
    server_name  *.{{  balancer.name  }} www.*.{{  balancer.name  }};


    location / {
      proxy_pass_header Authorization;
      proxy_pass http://{{  balancer.name  }};
      proxy_next_upstream error timeout invalid_header http_502;
      proxy_connect_timeout 2s;
      proxy_next_upstream_timeout 0;
      proxy_next_upstream_tries 0;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_http_version 1.1;
      proxy_set_header Connection "";
      proxy_buffering off;
      client_max_body_size 0;
      proxy_redirect off;
    }
  }
